<div class="col-lg-4 float-left mt-3">
  <h3>Panel de ususario</h3>
  <hr>

  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true" [routerLink]="['listado']">Mis temas</a>
    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" [routerLink]="['crear']">Crear tema</a>
    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false" [routerLink]="['/ajustes']">Ajustes</a>
  </div>
</div>
<div class="col-lg-8 float-right mt-3">
  <router-outlet></router-outlet>
</div>
