<div class="container">

  <!-- CABECERA DE LA WEB -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light mt-4">
    <a class="navbar-brand" [routerLink]="['/inicio']">Semma Foro</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/inicio']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Temas</a>
        </li>
        <li class="nav-item" *ngIf="identity">
            <a class="nav-link" href="#">Crear temas</a>
          </li>
        <li class="nav-item" *ngIf="identity">
            <a class="nav-link" href="#">Compañeros</a>
        </li>
        <li class="nav-item">
          &nbsp;&nbsp;
        </li>
        <li class="nav-item">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="¿Que estas buscando?" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
          <li class="nav-item" *ngIf="!identity">
              <a class="nav-link" [routerLink]="['/registro']">Registrate</a>
            </li>
            <li class="nav-item" *ngIf="!identity">
                <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
      <li class="nav-item dropdown" *ngIf="identity">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{identity.name + ' ' + identity.surname}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Panel de usuario</a>
            <a class="dropdown-item" href="#">Mi perfil</a>
            <a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item pointer" (click)="logout()">Cerrar sesion</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!-- FIN DEL NAVBAR -->

  <!-- CONTENIDO -->
  <router-outlet></router-outlet>

</div>