/* You can add global styles to this file, and also import other style files */
.pointer{
    cursor: pointer;
}
 .avatar_mask{
    width: 40px;
    height: 40px;
    border-radius: 900px;
    overflow: hidden;
}
.avatar_mask img{
    height: 40px;
} 